@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #ff90bb;
  --color-primary--tint-1: #ffd3e4;
  --color-primary--tint-2: #ffbcd6;
  --color-primary--tint-3: #ffa6c9;
  --color-primary--dark-1: #e682a8;
  --color-primary--dark-2: #cc7396;
  --color-primary--dark-3: #b36583;
  --color-secondary: #ffc1da;
  --color-tertiary: #8accd5;
  --color-white: #f8f8e1;
  --color-black: #222222;

  /* Backgrounds */
  --color-white-opaque: rgba(255, 255, 255, 0.25);
  --color-white-opaque--heavy: rgba(255, 255, 255, 0.5);

  /* Fonts */
  --font-poppins:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Shadows */
  --shadow-base: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --shadow-base-dark: 0 1.4rem 2rem rgba(0, 0, 0, 0.3);
  --shadow-sm-base: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-sm-dark: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  html {
    @apply text-[62.5%];
  }

  body {
    @apply flex h-screen items-center justify-center bg-linear-to-br from-primary to-secondary font-poppins transition-all duration-500 ease-in-out;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
  .btn {
    @apply h-20 w-40 cursor-pointer rounded-lg border-none bg-white-opaque text-[1.8rem] tracking-[0.1rem] text-stone-700 shadow-sm-base transition-all duration-200 ease-in hover:-translate-y-0.5 hover:bg-white-opaque--heavy hover:text-stone-800 hover:shadow-sm-dark;
  }

  button.disabled-btn {
    @apply cursor-not-allowed bg-white-opaque--heavy text-stone-400 hover:-translate-y-0 hover:text-stone-400 hover:shadow-sm-base;
  }

  .body-start {
    @apply !bg-linear-to-br !from-primary--dark-1 !to-secondary;
  }

  .body-finish {
    @apply !bg-linear-to-br !from-tertiary !to-secondary;
  }

  .timer-start {
    @apply !stroke-primary--dark-2;
  }

  .timer-finish {
    @apply !stroke-tertiary;
  }
}
